 *{
  margin: 0;
  box-sizing: border-box;
  font-family:Georgia, serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(lightgrey, white);
}


    
    /* header */
    
    header {
      background-color: #343a40;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      position: relative;
  }
  @media(min-width:768px){
      header {
          background-color: #343a40;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        
      }
  }
  /* logo image */
  
  .logo {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content:space-between;
      align-items: center;
      position: relative;
      padding: 10px;
      
  }
  
  @media(min-width:768px){
      .logo{
        width: 25%;
        margin-left: 20px;
     
      }
  }
  @media(min-width:1024px){
      .logo{
          width: 20%;
      }
  }
  
  .imgLogo {
      max-width: 100%;
      height: auto;
      background-color:#f8f8f2;
      box-shadow: 2px 3px 2px rgb(65, 63, 63);
      border-radius:18px;
      padding: 3px;
      margin: 3px 10px 3px 3px;
  }

      /* Toggle-icon */
  
  .toggle-icon{
          display: flex;
          flex-direction: row;
         
          margin-right: 10px;
          display:block;
          }
  
          
  @media(min-width:768px){
          .toggle-icon{
              display: none;
          }
  }
  .fa-bars{
              color:rgb(196, 193, 193);
          }
  
  /* Nav bar */
 
  .nav-bar{
      display:none;
      position: relative;
      width: 100%;
      background-color: rgb(236, 232, 232);
     
      }
  .nav-bar-show{
    display: block;
  }
  
   @media(min-width: 768px){
       .nav-bar{
          
              background-color:inherit;
              position: relative;
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items:center;
              width: 70%; 
            
              
           } 
     }
   @media(min-width:1024px){
         .nav-bar{
          width: 80%;  
          
         }
     }
  

  .nav-buttons{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-between;
     
  
  }
  
  @media(min-width:768px){
   .nav-buttons {
      display: flex;
      flex-direction: row;
      width:60%;
      justify-content:flex-end;
      align-items: center;
      
    
  } 
  }
  @media(min-width:1024px){
      .nav-buttons {
       
         width:31%;
         justify-content:flex-end;
         margin-right: 30px;
     
     } 
     }
   
  /* Nav buttons */
  
  
  #home {
      background-color: #5a5a5a;
      border: none;
      color: white;
      width: 100%;
      padding: 2px;
      margin: 1px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  }
  
  @media(min-width:768px){
      #home {
          width: 120px;
          font-size: 14px;
          height: 40px;
          padding: 2px 5px;
          margin:0px 10px; 
  
      }
  }
  @media(min-width:1024px){
      #home{
        
          font-size: 18px;
         }
  
      }
  #home:hover {
      background-color: #337ab7;
  }
  
  
  #logout {
      background-color: #5a5a5a;
      border: none;
      color: white;
      width: 100%;
      padding: 2px;
      margin: 1px;
      height: 40px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  }
  @media(min-width:768px){
      #logout{
         width: 120px;
          font-size: 14px;
          height: 40px;
          padding: 2px 5px;
          margin:0px 10px; 
          
      }
  }
  @media(min-width:1024px){
      #logout {
        
          font-size: 18px;
         }
      }
  
  #logout:hover {
      background-color: #337ab7; 
  }
  
  
/* content */


.formContent{
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  width: 90%;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media (min-width:780px){
  .formContent {
    width: 70%;
  } 
} */


#addform{
  margin: 3px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  /* background-color:#ffffe6; */
}
 /* @media(min-width:780){
  #addform>div{
    
       flex-direction: row;
       justify-content:flex-start;
       font-size: 15px;
     }
 } */

 #addform>div{
  width: 100%;
  margin: 2px;
  padding: 6px;
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  font-size: 20px;
 }


.firstRow>div{
 position: relative;
 display: flex;
 flex-direction: row;
 justify-content:flex-start;
 border:1px solid rgba(38, 5, 100, 0.897);
 border-radius: 7px;
 box-shadow: 3px 4px 3px grey;
 width: 100%;
 padding: 5px;
 margin: 3px;
}
/* @media(min-width:768){
  .firstRow>div{width: 48.4%;}
} */


label[for="title"]{
  width: 30%;
  margin: 2px;
  padding: 2px
}
input[id="title"]{
  width: 70%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="year"]{
  width: 30%;
  margin: 2px;
  padding: 2px
}
input[id="year"]{
  width: 70%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}
.secondRow>div{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  border:1px solid rgba(38, 5, 100, 0.897);
  border-radius: 7px;
  box-shadow: 3px 4px 3px grey;
  width: 100%;
  padding: 5px;
  margin: 3px;

}

/* @media(min-width:768){
  .secondRow>div{width:32%;}
} */


label[for="runtime"]{
  width: 40%;
  margin: 2px;
  padding: 2px

}
input[id="runtime"]{
  width: 60%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="genre"]{
  width: 40%;
  margin: 2px;
  padding: 2px

}
input[id="genre"]{
  width: 60%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="language"]{
  width: 50%;
  margin: 2px;
  padding: 2px

}
input[id="language"]{
  width: 50%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

.thirdRow>div{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  border:1px solid rgba(38, 5, 100, 0.897);
  border-radius: 7px;
  box-shadow: 3px 4px 3px grey;
  width: 100%;
  padding: 5px;
  margin: 3px;
}

/* @media(min-width:768){
  .thirdRow>div{width:32%;}
} */

label[for="country"]{
  width: 40%;
  margin: 2px;
  padding: 2px

}
input[id="country"]{
  width: 60%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="poster"]{
  width: 30%;
  margin: 2px;
  padding: 2px

}
input[id="poster"]{
  width: 70%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}
label[for="imdbrating"]{
  width: 55%;
  margin: 2px;
  padding: 2px

}
input[id="imdbrating"]{
  width:45%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

.fourthRow>div{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  border:1px solid rgba(38, 5, 100, 0.897);
  border-radius: 7px;
  box-shadow: 3px 4px 3px grey;
  width: 100%;
  padding: 5px;
  margin: 3px;
}


/* @media(min-width:768){
  .fourthRow>div{width:32%;}
} */


label[for="imdbvotes"]{
  width: 55%;
  margin: 2px;
  padding: 2px

}
input[id="imdbvotes"]{
  width:45%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="imdbid"]{
  width: 45%;
  margin: 2px;
  padding: 2px

}
input[id="imdbid"]{
  width:55%;
  height: 30px;
  margin: 2px;
  padding: 2px;
}

label[for="typem"]{
  width:30%;
  margin: 5px;
  padding: 2px

}
input[id="typem"]{
  width:70%;
  height: 30px;
  margin: 2px;
  padding: 2px;
 
}
input{
  font-size: 17px;
  font-family: Georgia, serif;
}
.formimput{
  border: solid solid 1px rgb(155, 145, 145);
}
.errors{
  border: solid 2px red;
}

.buttonrow>div{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content:center;
  padding: 5px;

  
}

.addbutton{
  width:150px;
  height: 30px;
  padding: 1px;
  color:rgb(12, 11, 11);
  font-size: 20px;
  font-weight: bold;
  background-color:#6aaef3;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(82, 81, 81);
  
}

label{
 
  border-radius: 5px;
  background-color:#6aaef3;
  text-align: center;
}
#warningMsg{
  

  padding: 5px;
  text-align: center;
  color: red;
  font-weight: bold;
  margin: 10px;
  width: 80%;
  
}
#successMsg{
  display: none;
  padding: 5px;
  text-align: center;
  color: rgb(7, 148, 7);
  font-weight: bold;
  margin: 10px;
  width: 80%;
}

.footer {
  background-color: #343a40;
  color: white;
  font-size: 15px;
  padding: 15px;
  margin-top: 30px;
}
 
 @media (min-width:768px){ 

   .formContent {
    width: 60%;
  } 
   #addform>div{
   
      flex-direction: row;
      justify-content:flex-start;
      font-size: 15px;
    } 
   .firstRow>div{

      width: 48.4%;
    } 
   .secondRow>div{

      width: 32%;
    
    } 
   .thirdRow>div{
   
      width: 32%;
   }
   .fourthRow>div{

      width: 32%;
    }
  }  