* {
    box-sizing: border-box;
    font-family: Georgia, serif;;
}

html, body {
    background: linear-gradient(lightgrey, white);
}


/* header */

header {
    background-color: #343a40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
}

.imgLogo {
    max-width: 100%;
    height: auto;
    background-color:#f8f8f2;
    box-shadow: 2px 3px 2px rgb(65, 63, 63);
    border-radius:18px;
    padding: 5px;
    margin: 3px 10px 3px 3px;
}

.search {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
    align-items: center;
}

/* Search */
.input-group-addon {
   border: none;
}

.glyphicon-search {
    border: none;
}

/* Content */

#movieDisplay {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.poster-title {
    display: flex;
    flex-direction: row;
}

.poster {
    width: 60%;
}

.title {
    width: 40%;
    text-align: center;
}

.img-movie {
    width: 140px;
    height: 220px;
}

.button-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    
}


.flex-container {
    display: flex;
    flex-direction: column;
    width: 48.5%;
    padding: 25px;
    margin: 5px;
    margin-top: 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

a {
    color: #5a5a5a;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

p {
    color: #5a5a5a;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

i {
    color: #ccaf00;
}


.img-responsive {
    width: 210px;
    height: 92px;
    margin-left: 15px;
    border-radius: 7px;
}


/* Buttons */

#add-movie {
    background-color: #5a5a5a;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#add-movie:hover {
    background-color: #337ab7;
    color: white; 
}

#logout {
    background-color: #5a5a5a;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#logout:hover {
    background-color: #337ab7; 
}

#login {
    background-color: #5a5a5a;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#login:hover {
    background-color: #337ab7;
}

#edit {
    background-color: #5a5a5a;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    width: 60px;
}

#edit:hover {
    background-color: #337ab7;
    color: white;
}

#delete {
    background-color: #5a5a5a;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    width: 60px;
}

#delete:hover {
    background-color: #337ab7;
    color: white;
}

/* Footer */

.footer {
    background-color: #343a40;
    color: white;
    font-size: 15px;
    padding: 15px;
}